<header class="app-header">
    <div class="logo-container">
        <div>
            <span class="panel-text">Painel Passageiro</span>
        </div>
    </div>

    <div class="nav-container">
        <!-- Botão de Motorista com dropdown -->
        <!-- <div class="dropdown">
            <button class="nav-btn" id="motorista-btn">Motorista</button>
            <div class="dropdown-content" id="motorista-dropdown">
                <a href="cadastro-motorista">Cadastrar Motorista</a>
            </div>
        </div> -->

        <!-- Botão de Passageiro com dropdown -->
        <!-- <div class="dropdown">
            <button class="nav-btn" id="passageiro-btn">Passageiro</button>
            <div class="dropdown-content" id="passageiro-dropdown">
                <a href="cadastro-passageiro">Cadastrar Passageiro</a>
            </div>
        </div> -->
    </div>

    <div class="profile-container">
        <span class="welcome-text">Bem-vindo, Passageiro</span> 
        <button class="logout-btn" (click)="FinanceiroPassageiro()">Área Financeira</button>
        <button class="logout-btn" (click)="logOut()">Logout</button>
    </div>
</header>
