* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.logo-container img {
    width: 100%; /* A imagem ocupará a largura disponível do container */
    max-width: 110px; /* Define um limite máximo para evitar exageros */
    height: auto; /* Mantém a proporção da imagem */
}

@media (max-width: 768px) {
    .logo-container img {
        max-width: 80px; /* Reduz o tamanho máximo da imagem para telas menores */
    }
}

@media (max-width: 480px) {
    .logo-container img {
        max-width: 60px; /* Ajusta ainda mais para smartphones */
    }
}

