@import "../../../styles/variables";

.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 40px 70px;

    background-color: $primaryColor; /* Cor de fundo do formulário */
    width: 40%; /* Ajusta a largura do formulário */
    margin: 10px auto; /* Adiciona margem superior/inferior e centraliza horizontalmente */
    padding: 20px; /* Adiciona preenchimento interno */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0px 0px 2px $shadowColor; /* Adiciona uma leve sombra para destacar */

    color: $backgroundColor;

    form{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        font-weight: bold;

        input{
            background: none;
            border: none;
            border-bottom: 1px solid white;
            width: 100%;
            height: 50px;
            margin-bottom: 40px;
            color: $backgroundColor;
        }

        input::placeholder {
            color: #e7e1e1; /* Cor branca para o placeholder */
            opacity: 0.7; /* Opacidade total para garantir que o branco seja visível */
        }
        
        select.destino{
            width: 100%;
            height: 50px;
            margin-bottom: 40px;
            color: $primaryColor;
        }
    }
}

label[for="telefone"], input#telefone {
    margin-top: 40px;
}


label[for="destino"] {
    font-weight: bold;      // Deixa o texto em negrito
    color: $backgroundColor;// Altera a cor do texto
    margin-bottom: 8px;    // Adiciona um espaço abaixo do label
    display: block;         // Faz o label ocupar toda a largura
  }
  
  select#destino {
    width: 100%;            // Faz o select ocupar 100% da largura do contêiner
    padding: 8px;          // Adiciona espaço interno
    border: 1px solid #ccc; // Define a borda
    border-radius: 4px;    // Arredonda os cantos da borda
    background-color: #f9f9f9; // Altera a cor de fundo
    font-size: 16px;       // Altera o tamanho da fonte
    outline: none;         // Remove o contorno ao focar
    transition: border-color 0.3s; // Anima a mudança da cor da borda
  
    &:focus {
      border-color: #007bff; // Altera a cor da borda ao focar
    }
  }

  label[for="destino"] {
    font-weight: bold;      // Deixa o texto em negrito
    color: $backgroundColor;// Altera a cor do texto
    margin-bottom: 8px;    // Adiciona um espaço abaixo do label
    display: block;         // Faz o label ocupar toda a largura
  }
  
  select#retorno {
    width: 100%;            // Faz o select ocupar 100% da largura do contêiner
    padding: 8px;          // Adiciona espaço interno
    border: 1px solid #ccc; // Define a borda
    border-radius: 4px;    // Arredonda os cantos da borda
    background-color: #f9f9f9; // Altera a cor de fundo
    font-size: 16px;       // Altera o tamanho da fonte
    outline: none;         // Remove o contorno ao focar
    transition: border-color 0.3s; // Anima a mudança da cor da borda
  
    &:focus {
      border-color: $primaryColor; // Altera a cor da borda ao focar
    }
  }
  

@media (min-width: 1080px){
    .form-section{
        flex-direction: row;
        justify-content: flex-start;
    }
}