<header class="app-header">
    <div class="logo-container">
        <div class="profile-picture-container">
            <!-- Imagem do passageiro de perfil -->
            <img 
                src="{{foto_de_perfil}}" 
                alt="Imagem de Perfil do Passageiro" 
                class="profile-picture" 
                onclick="expandImage(this)"
            />
        </div>
        <div>
            <span class="panel-text">Painel Motorista</span>
        </div>
    </div>

    <div class="nav-container">
        <!-- Botão de Motorista com dropdown -->
        <!-- <div class="dropdown">
            <button class="nav-btn" id="motorista-btn">Motorista</button>
            <div class="dropdown-content" id="motorista-dropdown">
                <a href="cadastro-motorista">Cadastrar Motorista</a>
            </div>
        </div> -->

        <!-- Botão de Passageiro com dropdown -->
        <!-- <div class="dropdown">
            <button class="nav-btn" id="passageiro-btn">Passageiro</button>
            <div class="dropdown-content" id="passageiro-dropdown">
                <a href="cadastro-passageiro">Cadastrar Passageiro</a>
            </div>
        </div> -->
    </div>

    <div class="profile-container">
        <span class="welcome-text">Bem-vindo, Motorista</span> 
        <button class="logout-btn" (click)="logOut()">Logout</button>
    </div>
</header>
