<main>
    <app-header></app-header>
    <app-header-financeiro-passageiro></app-header-financeiro-passageiro>
    <div class="dashboard-container">
      <h1 class="dashboard-title">Controle de Pagamentos - Passageiro {{ passageiroId }}</h1>
      <div class="dashboard-content">
        <section class="passageiros">
          <table class="table">
            <thead>
              <tr>
                <th>Boletos</th>
                <th>Status de Pagamento</th>
                <th>Data de Vencimento</th>
                <th>Valor a Pagar</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let boleto of boletos">
                <td>{{ boleto.id }}</td>
                <td>{{ boleto.status }}</td>
                <td>{{ boleto.dataVencimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ boleto.valor | currency: 'BRL' }}</td>
                <td>
                  <button (click)="editarBoleto(boleto.id)" class="view-button">Editar</button>
                </td>
              </tr>
              <tr>
                <td class="button" colspan="5" style="text-align: center;">
                    <a [routerLink]="['/cadastro-boleto', passageiroId]">
                        <button class="btn-secundario">Adicionar</button>
                    </a>
                </td>
            </tr>
            </tbody>
          </table>
        </section>
        <section class="botao-secundario">
          <a href="/financeiro">
            <button class="btn-secundario">Voltar</button>
          </a>
        </section>
      </div>
    </div>
  </main>
  