<section class="form-section">
    <form [formGroup]="formularioForms" (ngSubmit)="onSubmit()">
      <label for="nome">Nome Completo:</label>
      <input id="nome" formControlName="nome" type="text" />

      <label for="email">E-mail:</label>
      <input id="email" formControlName="email" type="email" />

      <label for="senha">Senha:</label>
      <input id="senha" formControlName="senha" type="password" />
  
      <label for="cnh">CNH:</label>
      <input id="cnh" formControlName="cnh" type="text" placeholder="Digite sua CNH sem pontos ou traços">
      
      <label for="telefone">Telefone:</label>
      <input id="telefone" formControlName="telefone" type="tel" placeholder="Digite com o DDD e sem traços" />

      <label for="linha">Linha:</label>
      <input id="linha" formControlName="linha" type="number" />
      <label for="file">Foto de perfil:</label>
      <input id="file" type="file" (change)="onFileSelected($event)" />
  
      <btn-primary 
        btn-text="Submeter Formulário"
        (submit)="onSubmit()"
        [disabled]="!formularioForms.valid"
      ></btn-primary>


    </form>
</section>
  