@import '../../../styles/variables.scss';

.btn{
    &:disabled{
        opacity: 0.6;
    }

    background-color: $backgroundColor; /* Cor de fundo do botão */
    color: $primaryColor; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Adiciona preenchimento interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: background-color 0.2s; /* Adiciona uma transição suave de cor de fundo */
    

}